.advertisement{
  background-image: url('http://goo.gl/OlzrpR');
  min-height: 600px;
  padding: 0;
  padding-top: 230px;

}
body {
  background-image: url('http://goo.gl/LzOSb0');
  background-color: blue;
  font-size: 2em;
  font-weight: bold;
  color: green;
}
